/* ================= GLOBAL STYLES ===================== */
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}