.btn:link,
.btn:visited {
  background-color: $mainPurple;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  display: inline-block;
}

.btn--orange:link,
.btn--orange:visited {
    background-color: $mainOrange;
    color: #fff;
  }

/* .btn {
  background-color: $mainPurple;
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 1.2rem;
  border-radius: 50px;
  display: inline-block;
  font-weight: 300;

  &--orange:link,
  &--orange:visited {
    background-color: $mainOrange;
  }
} */