.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(102,51,153,0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(102,51,153,0.2);
}

.btn--orange {
  background-color: $mainOrange;
  color: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn--orange::after {
  background-color: $mainOrange;
}

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(60px)
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
