/* =================================== HEADER SECTION BEGINS HERE ====================================== */
.main-header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8) , rgba(0, 0, 0, 0.8)) , url('/app/assets/img/antiquity.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

 &__brand-box {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  &__branding {
    height: 100px;
  }

  &__text-box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__primary {
    color: #fff;
    backface-visibility: hidden; /*Prevents the shake at the end of the title and subtitle animation.*/
    margin-bottom: 20px;
  }

  &__primary-title {
    display: block;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: 2px;
    animation: moveInLeft 1s ease-out;
    margin-bottom: 10px;
    min-width: 21.875rem;

    @mixin atSmall {
      font-size: 1.8rem;
      letter-spacing: 5px;
      min-width: 37.5rem;
    }

    @mixin atMedium {
      font-size: 2rem;
      letter-spacing: 7px;
      min-width: 43.75rem;
    }

    @mixin atLarge {
      font-size: 3.5rem;
      letter-spacing: 10px;
    }
  }
  
  &__primary-subtitle {
    display: block;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 2px;
    margin: 0;
    animation: moveInRight 1s ease-out;

    @mixin atSmall {
      font-size: 1.2rem;
      letter-spacing: 5px;
    }

    @mixin atMedium {
      font-size: 2rem;
      letter-spacing: 7px;
      min-width: 43.75rem;
    }

    @mixin atLarge {
      font-size: 3.5rem;
      letter-spacing: 10px;
    }
  } 
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px)
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px)
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}